@import 'includes/reset';
@import 'includes/clears';

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	text-align: right;

	&.night {
		background: #000;
		color: #46574f;
	}
	&.day {
		background: #fff;
	}
}

a {
	color: inherit;
}

#container {
	padding: 10%;
	color: #294035;
}

#weekday {
	font-size: 190px;
}

#clock {
	font-size: 80px;

	span.seconds {
		font-size: 30px;
	}
}

#weather {
	font-size: 40px;
	padding-top: 10%;
}

#debug_tools {
	opacity: 0;

	&:hover {
		opacity: 1;
	}
}
